---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Oops!">
  <div class="">
    <div class="">
      <img
        class="w-[50rem] m-auto"
        src="../img/404_error.svg"
        alt="ERROR 404"
      />
    </div>
    <div class="text-center">
      <h2 class="font-extrabold text-black text-4xl mb-4">Oops!</h2>
      <p class="font-bold font-mono">
        Lo siento parece que hubo un error, tranquilo solo intenta refrescar la
        pagina.
      </p>
      <p class="font-bold font-mono">
        Recuerda que en <span class="text-red-600">KEYJOROLL</span> nos interesa
        la experencía al cliente.
      </p>
    </div>
  </div>
</Layout>
