---
import Carrusell from "../components/Carrusell.astro";
import Opinion from "../components/Opinion.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="KEYJO - ROLL SUSHI">
  <section id="sec-prin" class="w-full h-full grid items-center justify-center">
    <div class="">
      <h1
        class="text-7xl text-white font-extrabold text-center animate-fade animate-once animate-duration-1000 animate-ease-in"
      >
        KEYJO - ROLL SUSHI
      </h1>
      <p
        class="text-white text-center font-semibold animate-fade animate-once animate-duration-1000 animate-ease-in animate-delay-[400ms]"
      >
        쯉e te antoja un sushi?
      </p>
      <div
        class="flex justify-evenly mt-[40px] animate-fade animate-once animate-duration-1000 animate-ease-in animate-delay-[600ms]"
      >
        <div class="">
          <a
            class="py-1 px-4"
            href="https://drive.google.com/file/d/1dho_7NAwQ4LqCoVMXs9Y9_DM5VlB4PcE/view"
            target="_blank">MEN칔</a
          >
        </div>
        <div>
          <a
            class="py-1 px-4"
            href="https://goo.gl/maps/c9VZ4jWSJuHgHMEi7"
            target="_blank">UBICAC칈ON</a
          >
        </div>
      </div>
    </div>
  </section>
  <section class="mt-[5rem]">
    <div class="grid justify-center">
      <h3 class="text-center text-5xl font-extrabold mb-2">
        Somos los mejores
      </h3>
      <p class="text-center font-semibold">
        쯊ienes dudas?, solo mira una de las opiniones de nuestros clientes
      </p>
      <div class="flex justify-center mt-7 mx-6 flex-wrap gap-9">
        <Opinion
          alt="Alicia Alvarado"
          h5="Alicia Alvarado"
          Op="Desde su apertura he ido varias veces, en verdad me atraparon, los platillos tienen gran sabor, la mesera da un gran trato (alta de lentes), el ambiente se siente familiar y precios accesibles. Mi recomendaci칩n en sushi es el avocado green y super recomiendo los tacostra de marlin 游뱔游뱔 mucho 칠xito y sigan con ese sabor y calidad. Adecuado para ni침os: Hay opciones para ni침os como dedos de queso, boneles, arroz y m치s. Adem치s del ambiente familiar. Estacionamiento: Como es una plaza en boulevard tiene pocos espacios pero esta la opci칩n libre en la calle"
          Ofiicio="Opinion hecha desde Google"
        />
        <Opinion
          alt="Angelica Ante Torres"
          h5="Angelica Ante Torres"
          Op="Excelente lugar para convivencia familiar, los platillos est치n muy ricos, la atenci칩n es muy buena y los rollo son de muy buen tama침o con precios accesibles, 100% Recomendad. Adecuado para ni침os: Nuestros ni침os tambi칠n disfrutar치n de este ambiente y sus platillos!!"
          Ofiicio="Opinion hecha desde Google"
        />
        <Opinion
          alt="Jorge Arturo Franco Medina"
          h5="Jorge Arturo Franco Medina"
          Op="Excelente lugar,est치 muy rico,muy amables y atentos,100% recomendado"
          Ofiicio="Opinion hecha desde Google"
        />
        <Opinion
          alt="Yoshira Guadalupe VELAZQUEZ RUELAS"
          h5="Yoshira Guadalupe Velazquez Ruelas"
          Op="Delicioso, limpio y buen servicio...."
          Ofiicio="Opinion hecha desde Google"
        />
        <Opinion
          alt="Maria Fernanda"
          h5="Maria Fernanda"
          Op="Todo muy rico, el lugar muy agradable y el personal muy amable.Recomiendo: Saxman, Avocado green, keyjo roll y el intenso. Y de entradas una tostada de at칰n"
          Ofiicio="Opinion hecha desde Google"
        />
      </div>
    </div>
  </section>
  <section class="grid">
    <Carrusell />
  </section>
</Layout>
<style>
  #sec-prin {
    background-image: url("../img/bg-section-prin.jpg");
  }
  a {
    color: white;
    text-align: center;
    font-weight: bold;
    border: 3px solid red;
  }
  a:hover {
    background-color: white;
    border-color: white;
    color: red;
    transition: ease-in 0.3s;
  }
</style>
