---
import Layout from "../layouts/Layout.astro";
import CardFood from "../components/CardFood.astro";
import BuscadorInput from "../components/BuscadorInput.astro";

---

<Layout
  title="Menú"
  description="A quien no se le antoja un buen sushi , ven y descubre la gran variedad de sushis que tenemos aquí."
>
  <section class="mt-[3rem] flex-wrap justify-evenly gap-4 grid flex-row">
    <!-- SECCION PARA BUSCAR PLATILLO -->
    <BuscadorInput />

    <!-- SECCION DE ENTRADAS -->
    <div id="Entradas" class="mb-[2rem] productos mx-[5rem]">
      <div>
        <h2 class="text-center m-6 text-2xl font-extrabold">Entradas</h2>
      </div>
      <div class="flex flex-wrap justify-evenly gap-3">
        <CardFood id="producto" h5="Gohan" src="" p="" pr="" />
        <CardFood id="producto" h5="" src="" p="" pr="" />
        <CardFood id="producto" h5="" src="" p="" pr="" />
        <CardFood id="producto" h5="" src="" p="" pr="" />
        <CardFood id="producto" h5="" src="" p="" pr="" />
        <CardFood id="producto" h5="" src="" p="" pr="" />
        <CardFood id="producto" h5="" src="" p="" pr="" />
      </div>
    </div>
    <!-- SECCION DE SUSHIS EMPANIZADOS -->
    <div id="Empanizados" class="mb-[2rem] productos mx-[5rem]">
      <div>
        <h2 class="text-center m-6 text-2xl font-extrabold">Empanizados</h2>
      </div>
      <div class="flex flex-wrap justify-evenly gap-3">
        <CardFood id="producto" h5="aksd" src="" p="" pr="" />
        <CardFood id="producto" h5="skldf" src="" p="" pr="" />
        <CardFood id="producto" h5="" src="" p="" pr="" />
        <CardFood id="producto" h5="" src="" p="" pr="" />
        <CardFood id="producto" h5="" src="" p="" pr="" />
      </div>
    </div>
    <!-- SECCION DE SUSHIS NATURALES -->
    <div id="Naturales" class="mb-[2rem] productos mx-[5rem]">
      <div>
        <h2 class="text-center m-6 text-2xl font-extrabold">Naturales</h2>
      </div>
      <div class="flex flex-wrap justify-evenly gap-3">
        <CardFood id="producto" h5="Guamuchilito" src="" p="" pr="" />
        <CardFood id="producto" h5="ajsnd" src="" p="" pr="" />
        <CardFood id="producto" h5="ajsnd" src="" p="" pr="" />
        <CardFood id="producto" h5="akosdj" src="" p="" pr="" />
        <CardFood id="producto" h5="aksnd" src="" p="" pr="" />
      </div>
    </div>
    <!-- SECCION DE BEBIDAS -->
    <div id="Bebidas" class="mb-[2rem] productos mx-[5rem]">
      <div>
        <h2 class="text-center m-6 text-2xl font-extrabold">Bebidas</h2>
      </div>
      <div class="flex flex-wrap justify-evenly gap-3">
        <CardFood
          id="producto"
          h5="Té refil"
          src="https://static.abc.es/media/bienestar/2020/06/10/te-helado-dia-mundial-kafF--1200x630@abc.jpg"
          p="A quien no se le antoja un delicioso té helado"
          pr="30"
        />
        <CardFood
          id="producto"
          h5="Refrescos"
          src="https://www.informador.mx/__export/1690932499600/sites/elinformador/img/2023/08/01/refrescos_crop1690932356888.jpg_554688468.jpg"
          p="El refresco siempre nos acompaña a todos lados "
          pr="30"
        />
      </div>
    </div>

    <!-- SE MUESTRA CUANDO NO SE ENCUENTRA NINGUN PRODUCTOS -->
    <div id="lo-sentimos" class="hidden my-16 mx-5">
      <h3 class="font-extrabold text-4xl text-center">
        Lo sentimos no esta el producto buscado.
      </h3>
    </div>
  </section>
  <script src="../js/buscador.js"></script>
</Layout>
<style>
  .filtro {
    display: none;
  }
  a {
    scroll-behavior: !important smooth;
  }
  @media (max-width: 650px) {
    section {
      margin-top: 2rem;
    }
  }
</style>
