---
import Layout from "../layouts/Layout.astro";
import CardFood from "../components/CardFood.astro";
---

<Layout title="KEYJO ROLL SUSHI - Menú">
  <section class="">
    <div class="mt-[9rem] grid justify-evenly"></div>
    <div class="flex-wrap justify-evenly gap-4 mt-[4rem] flex flex-row">
      <CardFood
        src="https://scontent.fmex4-2.fna.fbcdn.net/v/t39.30808-6/374698011_213351778399619_1929217375416671772_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=49d041&_nc_eui2=AeGY3mTGbEIp9TgwXQEcUPb1mcixtFZxeV6ZyLG0VnF5Xh2efc6PWeEsGb9hDeq1-_wFnlK6H8L95DcySIadzZWd&_nc_ohc=EeSspeIpyqMAX9gnose&_nc_ht=scontent.fmex4-2.fna&oh=00_AfDVgTCAGm-Ao1gsCDK0aFarmuDra7G1D4_ujwr2vntYQQ&oe=6505D813"
        h5="Sashimi de atún "
        p="Hojas de medallón de atún con verduras es un verdadero choque culinario para el paladar."
        pr="$100"
      />

      <CardFood
        src="https://scontent.fmex4-2.fna.fbcdn.net/v/t39.30808-6/370369897_208830632185067_2365031945248061257_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=49d041&_nc_eui2=AeHV0_qoXtF7liVUnBKMRwOyNh2Fwis-lPA2HYXCKz6U8NWMzAPOMDyZCIru9CDgi1ASrIYkkRqxR233dG7RJ7Rc&_nc_ohc=aj_aYrXid58AX_YwRga&_nc_ht=scontent.fmex4-2.fna&oh=00_AfBuS__oCHDOu9njFJwEug-Pl07Dyqhp1fXDcwWT6nzbFA&oe=6504EA84"
        h5="Saxman"
        p="Por dentro phila, aguacate, res y pepino por fuera con un topping de pollo picosito que desearás probarlo. "
        pr="$120"
      />
      <CardFood
        src="https://scontent.fmex4-1.fna.fbcdn.net/v/t39.30808-6/367458093_200639656337498_370840063056216077_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=49d041&_nc_eui2=AeGD3o_1H3gEFIjwqVOihh585yaivh0BVDfnJqK-HQFUN00JTCsOPuGOWplVIMoCH1DRYvInMbpDIAxwIRg4N7iB&_nc_ohc=vwUKevfzvMsAX8feYEX&_nc_ht=scontent.fmex4-1.fna&oh=00_AfAJZUy-fzfPsE_eqx30Urg8ZQz74m2mlOuce30VbhY3Xw&oe=6505C14D"
        h5="Gohan "
        p="Arroz blanco, tampico, phila, aguacate, salsa de anguila y ajonjolí son los ingredientes perfectos para crear una obra de arte"
        pr="$120"
      />
      <CardFood
        src="https://scontent.fmex4-2.fna.fbcdn.net/v/t39.30808-6/366748223_200041576397306_2109999948946223942_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=49d041&_nc_eui2=AeE8uGjcEkQlFq4iHc4LgCCqepG5diu9U5J6kbl2K71TkgwytN8Y6APcd8Mg_lKACb8mLE0T5gku4m362M65rbXJ&_nc_ohc=HfpArC3ABPEAX8fIJVe&_nc_ht=scontent.fmex4-2.fna&oh=00_AfDRkGJT4OBUhTbnV8ErgVKDKSITNTqcPWgKFc1CrV3-NQ&oe=650528D0"
        h5="Pay de limón"
        p="A quien no se le antoja un pay de limón, un magnifico postre para en dulsarse la vida."
        pr="$120"
      />
      <CardFood src="" h5="" p="" pr="" />
      <CardFood src="" h5="" p="" pr="" />
      <CardFood src="" h5="" p="" pr="" />
      <CardFood src="" h5="" p="" pr="" />
      <CardFood src="" h5="" p="" pr="" />
      <CardFood src="" h5="" p="" pr="" />
      <CardFood src="" h5="" p="" pr="" />
      <CardFood src="" h5="" p="" pr="" />
    </div>
  </section>
</Layout>
