---
import Layout from "../layouts/Layout.astro";
---

<Layout title="KEYJO ROLL SUSHI - Visitanos">
  <section class="block h-full mt-20">
    <div class="flex flex-wrap flex-row justify-evenly">
      <div id="map" class="">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1495.4697648321667!2d-107.43238018157157!3d24.763445240055717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86bcd14d66aeb93d%3A0x45dd15e18884a7b1!2sKEYJO-ROLL%20SUSHI!5e0!3m2!1ses-419!2smx!4v1694468116670!5m2!1ses-419!2smx"
          width="800"
          height="600"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>
</Layout>

<style>
  @media (max-width: 650px) {
    iframe {
      height: 600px;
      width: 500px;
    }
  }
</style>
