---
---

<div class="grid justify-evenly" t >
  <h1 class="text-center">Busca tu platillo favorito</h1>
  <input type="search" id="buscador" name="buscador" placeholder="Buscar" />
</div>
<style>
  input[type="search"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid brown;
  }
</style>
<script src="../js/buscador.js"></script>
