---
---

<div class="grid justify-center mb-0">
  <div>
    <img
      class="w-[15rem]"
      src="../img/logo-keyroll-mejor.png"
      alt="KEYJOROLL"
    />
  </div>
  <div class="mb-8">
    <div>
      <h2 class="font-semibold mb-5">Copyright © 2023 - All right reserved</h2>
    </div>
    <div class="flex justify-between">
      <a
        href="https://web.whatsapp.com/send?phone=+526676949562"
        target="_blank"
        ><img
          class="w-[2rem]"
          src="../img/whataspp-icon.png"
          alt="Whatasapp"
        /></a
      >
      <a href="tel:+526676949562" target="_blank"
        ><img class="w-[2rem]" src="../img/llamada-icon.png" alt="Llamar" /></a
      >
      <a
        href="https://www.facebook.com/profile.php?id=100091743933129"
        target="_blank"
        ><img
          class="w-[2rem]"
          src="../img/facebook-vector.svg"
          alt="Facebook"
        /></a
      >
    </div>
  </div>
</div>
<style></style>
