---
---

<div id="content-nab" class="flex justify-center z-99" transition:persist>
  <div>
    <button id="abrir-menu"
      ><img class="w-[62px]" src="../img/btn-menu.png" alt="btn-menu" /></button
    >
  </div>
  <nav id="nav" class="nav items-center">
    <ul class="flex gap-24 justify-center">
      <li><a id="a" href="/">Inicio</a></li>
      <li><a id="a" href="/menu">Menú</a></li>
      <li><a id="a" href="/visitanos">Visitanos</a></li>
      <li><a id="a" href="/nosotros">Nosotros</a></li>
      <li class="hidden">
        <a id="cerrar-menu"
          ><img src="../img/btn-menu.png" alt="cerrar-menu" /></a
        >
      </li>
    </ul>
  </nav>
  <script src="../js/menudesple.js"></script>
</div>

<style>
  nav {
    color: black;
    padding: 30px;
    position: inherit;
    width: -webkit-fill-available;
    flex-flow: column;
    top: 0;
    left: 0;
    z-index: 1;
    right: 0;
    background-color: brown;
  }

  #abrir-menu {
    display: none;
  }
  a {
    font-size: 1rem;
    font-family: monospace;
    color: white;
  }

  a:hover {
    border-bottom: 2px solid white;
    transition: linear all 0.15s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media (max-width: 650px) {
    nav {
      opacity: 0;
      visibility: hidden;
      position: absolute;
    }
    .navvv {
      opacity: 1;
      visibility: visible;
      display: grid;
      background-color: brown;
      position: fixed;
      bottom: 0;
      animation: fadeIn 0.8s;
      overflow: hidden;
    }
    #abrir-menu {
      display: flex;
      position: fixed;
      padding: 10px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      background-color: brown;
      z-index: 1;
      right: 0;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    #cerrar-menu {
      width: 60px;
      display: block;
      cursor: pointer;
    }

    a {
      color: white;
      display: block;
    }
    a:hover {
      color: grey !important;
      border-bottom: transparent;
    }
    ul {
      display: grid;
      justify-items: center;
    }
    li {
      display: block;
    }
  }
</style>
