---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Nabv from "../components/Nabv.astro";
import FooterPer from "../components/FooterPer.astro";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../img/logo_mini_keyroll_mejor.jpg"
    />
    <meta name="generator" content={Astro.generator} />
    <script src="../js/menu.js"></script>
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="h-[100vh]">
    <Nabv />
    <slot />
    <FooterPer />
    <style is:global>
      html {
        color-scheme: light;
        background-color: white;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
